<div class="container">
    <h1>Histórico do Animal</h1>
 
    <div class="mat-elevation-z8">
       <table mat-table [dataSource]="dataSource">
          <ng-container matColumnDef="id">
             <th mat-header-cell *matHeaderCellDef>ID</th>
             <td mat-cell *matCellDef="let movimento">{{ movimento.id }}</td>
          </ng-container>
 
          <ng-container matColumnDef="apelidoAnimal">
             <th mat-header-cell *matHeaderCellDef>Apelido do Animal</th>
             <td mat-cell *matCellDef="let movimento">{{ movimento.apelidoAnimal }}</td>
          </ng-container>
 
          <ng-container matColumnDef="loteNome">
             <th mat-header-cell *matHeaderCellDef>Nome do Lote</th>
             <td mat-cell *matCellDef="let movimento">{{ movimento.loteNome }}</td>
          </ng-container>
 
          <ng-container matColumnDef="dataEntrada">
            <th mat-header-cell *matHeaderCellDef>Data de Entrada</th>
            <td mat-cell *matCellDef="let movimento">{{ movimento.dataEntrada | date: 'dd/MM/yyyy' }}</td>
         </ng-container>
         
         <ng-container matColumnDef="dataSaida">
            <th mat-header-cell *matHeaderCellDef>Data de Saída</th>
            <td mat-cell *matCellDef="let movimento">{{ movimento.dataSaida | date: 'dd/MM/yyyy' }}</td>
         </ng-container>

         <ng-container matColumnDef="dias">
            <th mat-header-cell *matHeaderCellDef>Dias</th>
            <td mat-cell *matCellDef="let movimento">
              <ng-container *ngIf="movimento.dias !== null">
                {{ movimento.dias }} {{ movimento.dias === 1 ? 'dia' : 'dias' }}
              </ng-container>
            </td>
         </ng-container>
          
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let movimento; columns: displayedColumns;"></tr>
       </table>
 
       <mat-paginator [pageSizeOptions]="[10, 20, 50, 100]" showFirstLastButtons></mat-paginator>
    </div>
 </div>
 <div class="graph-container">
   <mat-card class="graph-card">
      <mat-card-content>
         <canvas id="meuGrafico" class="fullscreen-chart"></canvas>
      </mat-card-content>
   </mat-card>
</div>

 