.card {
  margin: 20px;
  padding: 20px;
}

.button-group {
  margin-top: 20px;
}

.mat-flat-button.green-button {
  background-color: green;
  color: white;
}

.mat-stroked-button.red-button {
  background-color: red;
  color: white;
}

.mat-flat-button, .mat-stroked-button {
  margin-right: 10px;
}
