.card {
  width: 80%;
  height: auto;
  padding: 20px;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
}
.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f4f4f4;
}

.fullWidth {
  width: 100%;
}

.button-group {
  display: flex;
  justify-content: flex-end;
  margin-top: 1rem;
}

button {
  margin-top: 0.5rem;
}

button:first-child {
  margin-right: 1rem;
}


.status-prioridade {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.status-prioridade mat-form-field {
  flex: 1 1 30%;
  padding: 10px;
}

.data-compra-field {
  flex: 1 1 100%;
}

.data-nascimento-field,
.lote-field,
.raca-field {
  flex: 1 1 30%;
}

.button-group {
  display: flex;
  justify-content: flex-end;
  margin-top: 1rem;
}

@media (max-width: 991px) {
  .status-prioridade mat-form-field,
  .data-compra-field,
  .data-nascimento-field,
  .lote-field,
  .raca-field {
    flex: 1 1 100%;
  }
}

@media (max-width: 767px) {
  .card {
    width: 90%;
  }
}
