<div class="container">

   <h1>Listando Ordenhas</h1>

   <div class="header-container">
      <div class="search-container">
        <mat-form-field appearance="outline" class="search-field">
          <mat-icon matPrefix>search</mat-icon>
          <input matInput (keyup)="applyFilter($event)" placeholder="Pesquisar" #input>
          <mat-label>Pesquisar</mat-label>
          <button mat-icon-button matSuffix aria-label="Limpar" *ngIf="input.value" (click)="input.value=''; applyFilter($event)">
            <mat-icon>clear</mat-icon>
          </button>
        </mat-form-field>
      </div>
  
      <div class="action-container">
        <button routerLink="create" class="cadas mat-elevation-z4 mat-button" mat-flat-button color="primary">
          Cadastrar ordenha
        </button>
      </div>
    </div>
 
   <div class="mat-elevation-z8">
     <table mat-table [dataSource]="dataSource" matSort class="custom-table">

         <ng-container matColumnDef="idOrdenha">
            <th mat-header-cell *matHeaderCellDef> ID </th>
            <td mat-cell *matCellDef="let element"> {{element.idOrdenha}} </td>
         </ng-container>

         <ng-container matColumnDef="apelidoAnimal">
            <th mat-header-cell *matHeaderCellDef> Animal </th>
            <td mat-cell *matCellDef="let ordenha"> {{ordenha.apelidoAnimal}} </td>
         </ng-container>

         <ng-container matColumnDef="data">
            <th mat-header-cell *matHeaderCellDef> Data </th>
            <td mat-cell *matCellDef="let element"> {{element.data}} </td>
         </ng-container>

         <ng-container matColumnDef="primeiraOrdenha">
            <th mat-header-cell *matHeaderCellDef> 1º Ord </th>
            <td mat-cell *matCellDef="let element"> {{element.primeiraOrdenha}} </td>
         </ng-container>

         <ng-container matColumnDef="segundaOrdenha">
            <th mat-header-cell *matHeaderCellDef> 2º Ord </th>
            <td mat-cell *matCellDef="let element"> {{element.segundaOrdenha}} </td>
         </ng-container>

         <ng-container matColumnDef="modeloTanque">
            <th mat-header-cell *matHeaderCellDef> Tanque </th>
            <td mat-cell *matCellDef="let ordenha"> {{ordenha.modeloTanque}} </td>
         </ng-container>
         
         <ng-container matColumnDef="acoes">
            <th mat-header-cell *matHeaderCellDef>Ações</th>
            <td mat-cell *matCellDef="let element" class="action-cell">
              <a routerLink="update/{{ element.idOrdenha }}">
                <i class="material-icons edit-icon">edit</i>
              </a>
              <a (click)="openDialog(element.idOrdenha)">
                <i class="material-icons delete-icon">delete</i>
              </a>
            </td>
          </ng-container>

         <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
         <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      <div >
         <button mat-button color="primary" (click)="gerarRelatorioPDF()">
           Gerar Relatório
         </button>
         <mat-paginator [pageSizeOptions]="[10, 20, 50, 100]" showFirstLastButtons></mat-paginator>
       </div>
       
   </div>

</div>