.dashboard-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

.dashboard-grid {
  max-width: 800px;
  margin: 0 auto;
}

.dashboard-card {
  width: 120px;
  height: 90px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background-color: #0b814a;
  color: bisque;
}

.large-label {
  font-size: 1px; /* Ajuste o tamanho da fonte conforme necessário */
  white-space: nowrap; /* Impede que o texto quebre em várias linhas */
  overflow: hidden; /* Impede que o texto saia do elemento pai */
  text-overflow: ellipsis; /* Adiciona reticências (...) no final do texto se ele ultrapassar o tamanho do elemento */
}


.dashboard-card-spacing {
  margin: 8px;
}

.dashboard-card-content {
  display: flex;
  flex-direction: column;
  text-align: center;
  height: 10%;
}

.dashboard-card-value {
  font-size: 25px;
  margin-top: 5px;
  font-weight: bold;
  text-align: center;

}

.dashboard-card-label {
  font-size: 12px;
  margin-top: 5px;
  font: bold;
}


.dashboard-container {
  position: relative;
}

.graph-line {
  position: absolute;
  left: 0;
  right: 0;
  top: 100%;
  height: 2px;
  background-color: rgba(0, 0, 0, 0.1);
}

.graph-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.graph-card {
  background-color: rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.fullscreen-chart {
  width: 100%;
  height: 400px; /* Defina a altura desejada */
}

.graph-label {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: center;
}
canvas {
  height: 300px; /* Defina a altura desejada para o gráfico */
}





