.dashboard-grid {
  max-width: 800px;
  margin: 0 auto;
  }
  
  .dashboard-card {
  width: 120px;
  height: 90px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background-color: #0b814a;
  color: bisque;
  }
  
 
    
  .dashboard-card-spacing {
  margin: 8px;
  }
  
 

  .dashboard-card-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    align-items: center;
    height: 10%;
  }
  
  .dashboard-card-value {
    font-size: 30px;
    margin-top: 5px;
    font-weight: bold;
  }
  
  .dashboard-card-label {
    font-size: 12px;
    margin-top: 5px;
    font: bold;

  }
  