<div class="dashboard-container">
   <div class="dashboard-grid">
     <div class="dashboard-card">
       <div class="dashboard-card-content">
         <p class="dashboard-card-value">{{ qtsAnimal || '0' }}</p>
         <p class="dashboard-card-label">Animais</p>
       </div>
     </div>
     <div class="dashboard-card">
       <div class="dashboard-card-content">
         <p class="dashboard-card-value">{{ (+mediaLitro).toFixed(2) || '0,00' }}</p>
         <p class="dashboard-card-label">Litros por média</p>
       </div>
     </div>
     <div class="dashboard-card">
       <div class="dashboard-card-content">
         <p class="dashboard-card-value">{{ qtsAnimaisLactacao || '0' }}</p>
         <p class="dashboard-card-label large-label">Animais em lactação</p>
       </div>
     </div>
     <div class="dashboard-card">
       <div class="dashboard-card-content">
         <p class="dashboard-card-value">{{ qtsAnimaisSeca || '0' }}</p>
         <p class="dashboard-card-label">Animais em secas</p>
       </div>
     </div>
     <div class="dashboard-card">
       <div class="dashboard-card-content">
         <p class="dashboard-card-value">{{ (+porcentagemLactacao).toFixed(2) || '0' }} %</p>
         <p class="dashboard-card-label large-label">Porcentagem em lactação</p>
       </div>
     </div>
     <div class="dashboard-card">
       <div class="dashboard-card-content">
         <p class="dashboard-card-value">{{ (+porcentagemSeca).toFixed(2) || '0'}} %</p>
         <p class="dashboard-card-label large-label">Porcentagem em secas</p>
       </div>
     </div>
     <div class="dashboard-card">
       <div class="dashboard-card-content">
         <p class="dashboard-card-value">{{ qtdLote}}</p>
         <p class="dashboard-card-label">Lotes</p>
       </div>
     </div>
     <div class="dashboard-card">
       <div class="dashboard-card-content">
         <p class="dashboard-card-value">{{ qtdTanque}}</p>
         <p class="dashboard-card-label">Tanques</p>
       </div>
     </div>
     <div class="dashboard-card">
       <div class="dashboard-card-content">
         <p class="dashboard-card-value">{{ qtdFuncionario}}</p>
         <p class="dashboard-card-label">Funcionários</p>
       </div>
     </div>
     <div class="dashboard-card">
       <div class="dashboard-card-content">
         <p class="dashboard-card-value">{{ (+qtdTotalLeite).toFixed(2)}}</p>
         <p class="dashboard-card-label large-label">Leite armazenado</p>
       </div>
     </div>
   </div>

   <div class="card">
    <div class="card-content">
      <div class="filter-container">
        <mat-form-field appearance="outline">
          <mat-label>Tipo de Gráfico</mat-label>
          <mat-select [(value)]="chartType" (selectionChange)="changeChartType()">
            <mat-option value="semanal">Semanal</mat-option>
            <mat-option value="mensal">Mensal</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
  
      <div class="graph-container">
        <div class="graph-card">
          <canvas *ngIf="chartType === 'semanal'" id="meuGraficoSemana" class="chart-canvas"></canvas>
          <canvas *ngIf="chartType === 'mensal'" id="meuGrafico" class="chart-canvas"></canvas>
        </div>
      </div>
    </div>
  </div>
  
  


      <div class="table-container">
      <h3 class="table-label">Melhores Médias de Produção</h3>
      <table mat-table [dataSource]="dataSource">
         <ng-container matColumnDef="idAnimal">
            <th mat-header-cell *matHeaderCellDef> ID </th>
            <td mat-cell *matCellDef="let element"> {{element.idAnimal}} </td>
         </ng-container>

         <ng-container matColumnDef="codigo">
            <th mat-header-cell *matHeaderCellDef> Código </th>
            <td mat-cell *matCellDef="let element"> {{element.codigo}} </td>
         </ng-container>

         <ng-container matColumnDef="apelido">
            <th mat-header-cell *matHeaderCellDef> Apelido </th>
            <td mat-cell *matCellDef="let element"> {{element.apelido}} </td>
         </ng-container>

         <ng-container matColumnDef="media">
            <th mat-header-cell *matHeaderCellDef> Media de Leite </th>
            <td mat-cell *matCellDef="let animal"> {{(+animal.media).toFixed(2) || 0}} litros </td>
         </ng-container>
         
         <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
         <tr mat-row *matRowDef="let animal of melhoresVacas; columns: displayedColumns;"></tr>
      </table>
   </div>

   <div class="table-container">
      <h3 class="table-label">Piores Médias de Produção</h3>
      <table mat-table [dataSource]="data">
         <ng-container matColumnDef="idAnimal">
            <th mat-header-cell *matHeaderCellDef> ID </th>
            <td mat-cell *matCellDef="let element"> {{element.idAnimal}} </td>
         </ng-container>

         <ng-container matColumnDef="codigo">
            <th mat-header-cell *matHeaderCellDef> Código </th>
            <td mat-cell *matCellDef="let element"> {{element.codigo}} </td>
         </ng-container>

         <ng-container matColumnDef="apelido">
            <th mat-header-cell *matHeaderCellDef> Apelido </th>
            <td mat-cell *matCellDef="let element"> {{element.apelido}} </td>
         </ng-container>

         <ng-container matColumnDef="media">
            <th mat-header-cell *matHeaderCellDef> Media de Leite </th>
            <td mat-cell *matCellDef="let animal"> {{(+animal.media).toFixed(2) || 0}} litros </td>
         </ng-container>
         
         <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
         <tr mat-row *matRowDef="let animal of pioresVacas; columns: displayedColumns;"></tr>
      </table>
   </div>


</div>


