<mat-grid-list cols="5" rowHeight="1:1" class="dashboard-grid">
   <mat-grid-tile>
      <mat-card class="dashboard-card mat-elevation-z8 dashboard-card-spacing">
         <mat-card-content>
            <p class="dashboard-card-value dashboard-card-value-large">{{ qtsAnimal || 'N/A' }}</p>
            <p class="dashboard-card-label">Animais</p>
         </mat-card-content>
      </mat-card>
   </mat-grid-tile>
   <mat-grid-tile>
      <mat-card class="dashboard-card mat-elevation-z8 dashboard-card-spacing">
         <mat-card-content>
            <p class="dashboard-card-value dashboard-card-value-large">{{ mediaLitro || 'N/A' }}</p>
            <p class="dashboard-card-label">Litros por média</p>
         </mat-card-content>
      </mat-card>
   </mat-grid-tile>
   <mat-grid-tile>
      <mat-card class="dashboard-card mat-elevation-z8 dashboard-card-spacing">
         <mat-card-content>
            <p class="dashboard-card-value dashboard-card-value-large">{{ qtsAnimaisLactacao || 'N/A' }}</p>
            <p class="dashboard-card-label">Animais em lactação</p>
         </mat-card-content>
      </mat-card>
   </mat-grid-tile>
   <mat-grid-tile>
      <mat-card class="dashboard-card mat-elevation-z8 dashboard-card-spacing">
         <mat-card-content>
            <p class="dashboard-card-value dashboard-card-value-large">{{ qtsAnimaisSeca || 'N/A' }} </p>
            <p class="dashboard-card-label">Animais em secas</p>
         </mat-card-content>
      </mat-card>
   </mat-grid-tile>
   <mat-grid-tile>
      <mat-card class="dashboard-card mat-elevation-z8 dashboard-card-spacing">
         <mat-card-content>
            <p class="dashboard-card-value dashboard-card-value-large">{{ porcentagemLactacao.toFixed(2)}} %</p>
            <p class="dashboard-card-label">Porcentagem em lactação</p>
         </mat-card-content>
      </mat-card>
   </mat-grid-tile>
   <mat-grid-tile>
      <mat-card class="dashboard-card mat-elevation-z8 dashboard-card-spacing">
         <mat-card-content>
            <p class="dashboard-card-value dashboard-card-value-large">{{ porcentagemSeca.toFixed(2)}} %</p>
            <p class="dashboard-card-label">Porcentagem em secas</p>
         </mat-card-content>
      </mat-card>
   </mat-grid-tile>
   <mat-grid-tile>
      <mat-card class="dashboard-card mat-elevation-z8 dashboard-card-spacing">
         <mat-card-content>
            <p class="dashboard-card-value dashboard-card-value-large">{{ qtdLote}}</p>
            <p class="dashboard-card-label">Lotes</p>
         </mat-card-content>
      </mat-card>
   </mat-grid-tile>
   <mat-grid-tile>
      <mat-card class="dashboard-card mat-elevation-z8 dashboard-card-spacing">
         <mat-card-content>
            <p class="dashboard-card-value dashboard-card-value-large">{{ qtdTanque}}</p>
            <p class="dashboard-card-label">Tanques</p>
         </mat-card-content>
      </mat-card>
   </mat-grid-tile>
   <mat-grid-tile>
      <mat-card class="dashboard-card mat-elevation-z8 dashboard-card-spacing">
         <mat-card-content>
            <p class="dashboard-card-value dashboard-card-value-large">{{ qtdFuncionario}}</p>
            <p class="dashboard-card-label">Funcionarios</p>
         </mat-card-content>
      </mat-card>
   </mat-grid-tile>
   <mat-grid-tile>
      <mat-card class="dashboard-card mat-elevation-z8 dashboard-card-spacing">
         <mat-card-content>
            <p class="dashboard-card-value dashboard-card-value-large">{{ qtdTotalLeite}}</p>
            <p class="dashboard-card-label">Quantidade leite armazenado</p>
         </mat-card-content>
      </mat-card>
   </mat-grid-tile>
   <!-- Outros quadros do dashboard -->
</mat-grid-list>