 <div class="dashboard-container">
   <mat-grid-list cols="5" rowHeight="1:1" class="dashboard-grid text-center">
   <mat-grid-tile>
      <mat-card class="dashboard-card mat-elevation-z8 dashboard-card-spacing">
         <mat-card-content>
            <p class="dashboard-card-value dashboard-card-value-large">{{ qtsAnimal || '0' }}</p>
            <p class="dashboard-card-label">Animais</p>
         </mat-card-content>
      </mat-card>
   </mat-grid-tile>
   <mat-grid-tile>
      <mat-card class="dashboard-card mat-elevation-z8 dashboard-card-spacing">
         <mat-card-content>
            <p class="dashboard-card-value dashboard-card-value-large">{{(+mediaLitro).toFixed(2)  || '0,00' }}</p>
            <p class="dashboard-card-label">Litros por média</p>
         </mat-card-content>
      </mat-card>
   </mat-grid-tile>
   <mat-grid-tile>
      <mat-card class="dashboard-card mat-elevation-z8 dashboard-card-spacing">
         <mat-card-content>
            <p class="dashboard-card-value dashboard-card-value-large">{{ qtsAnimaisLactacao || '0' }}</p>
            <p class="dashboard-card-label large-label">Animais em lactação</p>
         </mat-card-content>
      </mat-card>
   </mat-grid-tile>
   <mat-grid-tile>
      <mat-card class="dashboard-card mat-elevation-z8 dashboard-card-spacing">
         <mat-card-content>
            <p class="dashboard-card-value dashboard-card-value-large">{{ qtsAnimaisSeca || '0' }} </p>
            <p class="dashboard-card-label">Animais em secas</p>
         </mat-card-content>
      </mat-card>
   </mat-grid-tile>
   <mat-grid-tile>
      <mat-card class="dashboard-card mat-elevation-z8 dashboard-card-spacing">
        <mat-card-content>
         <p class="dashboard-card-value dashboard-card-value-large">{{ (+porcentagemLactacao).toFixed(2) || '0' }} %</p>
         <p class="dashboard-card-label  large-label">Porcentagem em lactação</p>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
    
   <mat-grid-tile>
      <mat-card class="dashboard-card mat-elevation-z8 dashboard-card-spacing">
         <mat-card-content>
            <p class="dashboard-card-value dashboard-card-value-large">{{ (+porcentagemSeca).toFixed(2) || '0'}} %</p>
            <p class="dashboard-card-label  large-label">Porcentagem em secas</p>
         </mat-card-content>
      </mat-card>
   </mat-grid-tile>
   <mat-grid-tile>
      <mat-card class="dashboard-card mat-elevation-z8 dashboard-card-spacing">
         <mat-card-content>
            <p class="dashboard-card-value dashboard-card-value-large">{{ qtdLote}}</p>
            <p class="dashboard-card-label">Lotes</p>
         </mat-card-content>
      </mat-card>
   </mat-grid-tile>
   <mat-grid-tile>
      <mat-card class="dashboard-card mat-elevation-z8 dashboard-card-spacing">
         <mat-card-content>
            <p class="dashboard-card-value dashboard-card-value-large">{{ qtdTanque}}</p>
            <p class="dashboard-card-label">Tanques</p>
         </mat-card-content>
      </mat-card>
   </mat-grid-tile>
   <mat-grid-tile>
      <mat-card class="dashboard-card mat-elevation-z8 dashboard-card-spacing">
         <mat-card-content>
            <p class="dashboard-card-value dashboard-card-value-large">{{ qtdFuncionario}}</p>
            <p class="dashboard-card-label">Funcionarios</p>
         </mat-card-content>
      </mat-card>
   </mat-grid-tile>
   <mat-grid-tile>
      <mat-card class="dashboard-card mat-elevation-z8 dashboard-card-spacing">
         <mat-card-content>
            <p class="dashboard-card-value dashboard-card-value-large">{{ (+qtdTotalLeite).toFixed(2)}}</p>
            <p class="dashboard-card-label large-label">Leite armazenado</p>
         </mat-card-content>
      </mat-card>
   </mat-grid-tile> 
   <div class="graph-line"></div>

   <!-- Outros quadros do dashboard -->
   </mat-grid-list>
   <div class="graph-container">
      <mat-card class="graph-card">
         <mat-card-content>
            <canvas id="meuGraficoSemana" class="fullscreen-chart"></canvas>
         </mat-card-content>
      </mat-card>
   </div>
   <div class="graph-container">
   <mat-card class="graph-card">
      <mat-card-content>
         <canvas id="meuGrafico" class="fullscreen-chart"></canvas>
      </mat-card-content>
   </mat-card>
   </div>

</div>


