h1 {
  text-align: center;
}

.mat-elevation-z2 {
  margin: 20px auto;
  width: 80%;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 10px;
  text-align: left;
}

thead {
  background-color: #f0f0f0;
}

tr:nth-child(even) {
  background-color: #f9f9f9;
}

.mat-form-field {
  margin: 5px;
}

.button-group {
  text-align: center;
  margin-top: 20px;
}

.button-group button {
  margin: 5px;
}
.custom-card {
  max-height: 500px;
  overflow-y: auto;
}