h1 {
  text-align: center;
}

.mat-elevation-z2 {
  margin: 20px auto;
  width: 80%;
}

table {
  width: 100%;
  border-collapse: collapse;
  max-height: 70vh; /* Defina a altura desejada para a tabela */
  overflow-y: auto;
}


th, td {
  padding: 10px;
  text-align: left;
}

thead {
  background-color: #f0f0f0;
}

tr:nth-child(even) {
  background-color: #f9f9f9;
}

.mat-form-field {
  margin: 5px;
}

.button-group {
  text-align: center;
  margin-top: 20px;
}

.button-group button {
  margin: 5px;
}

.custom-card {
  max-height: 500px;
  overflow-y: auto;
}

.small-column {
  width: 60px;
}

.small-input {
  width: 60px;
}
.small-inputt {
  width: 100px;
}

@media (max-width: 600px) {
  table {
      max-height: 50vh; /* Defina a altura desejada para a tabela em dispositivos móveis */
  }
  
  .small-column {
    width: 40px;
  }
  
  .small-input {
    width: 40px;
  }
}
