<mat-card class="custom-card">
  <div class="header">
    <h1>Listando Animais</h1>
  </div>
  <div class="table-container">
    <div class="table-scroll">
      <table>
        <thead>
          <tr>
            <th class="small-column">ID</th>
            <th>Nome</th>
            <th class="small-column">1º Ordenha</th>
            <th class="small-column">2º Ordenha</th>
            <th>Tanque</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let animal of animais">
            <td>
              <mat-form-field appearance="outline" class="small-input">
                <mat-label>ID</mat-label>
                <input matInput [value]="animal.idAnimal" disabled>
              </mat-form-field>
            </td>          
            <td>
              <mat-form-field appearance="outline">
                <mat-label>Apelido</mat-label>
                <input matInput [value]="animal.apelido" disabled>
              </mat-form-field>
            </td>
            <td>
              <mat-form-field appearance="outline" class="small-input">
                <mat-label>1º Ordenha</mat-label>
                <input matInput type="number" [(ngModel)]="animal.primeiraOrdenha" name="primeiraOrdenha" (input)="limitarQuantidade($event)" min="0" pattern="[0-9]{1,5}" class="small-input" />
              </mat-form-field>
            </td>
            <td>
              <mat-form-field appearance="outline" class="small-input">
                <mat-label>2º Ordenha</mat-label>
                <input matInput type="number" [(ngModel)]="animal.segundaOrdenha" name="segundaOrdenha" (input)="limitarQuantidade($event)" min="0" pattern="[0-9]{1,5}" class="small-input" />
              </mat-form-field>
            </td>
            <td>
              <mat-form-field appearance="outline">
                <mat-label>Tanque</mat-label>
                <mat-select [(ngModel)]="animal.idTanque" name="tanque">
                  <mat-option value="">Selecione um tanque</mat-option>
                  <mat-option *ngFor="let tanque of tanques" [value]="tanque.idTanque">{{ tanque.modelo }}</mat-option>
                </mat-select>
              </mat-form-field>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div>
    <button mat-raised-button color="primary" (click)="cadastrarOrdenha()">Cadastrar Ordenha</button>
    <button routerLink="../" class="cancel-button" mat-stroked-button color="warn">Cancelar</button>
  </div>
</mat-card>
