.container {
    width: 80%;
    margin: auto;
    padding: 5%;
    border-radius: .2rem;
    background: antiquewhite;
}

.fullWidth {
    width: 100%;
}

.halfWidth {
    width: 50%;
}

.status-prioridade {
    display: flex;
    flex-wrap: wrap;
}

.status-prioridade mat-form-field {
    flex: 1;
    margin-right: 1rem;
    margin-bottom: 1rem;
}

.nome-input {
    width: 100%;
}

.form {
    width: auto;
}

button {
    margin-top: .5rem;
}

p {
    margin-top: 4rem;
    opacity: .5;
}
