<div class="container mat-elevation-z8">
    <form class="form">
      <h1 class="fullWidth">Atualizar Ordenha</h1>
      <div class="status-prioridade">
        <mat-form-field appearance="outline">
          <mat-label>Data</mat-label>
          <input matInput [matDatepicker]="dataPicker"  [formControl]="data" required>
          <mat-datepicker-toggle matSuffix [for]="dataPicker"></mat-datepicker-toggle>
          <mat-datepicker #dataPicker></mat-datepicker>
        </mat-form-field>       
        <mat-form-field appearance="outline">
          <mat-label>Quantidade</mat-label>
          <input matInput type="number" [(ngModel)]="ordenha.quantidade" name="quantidade" (input)="limitarQuantidade($event)" matInput type="number" min="0" pattern="[0-9]{1,5}"/>
        </mat-form-field>
        
        <mat-form-field appearance="outline">
          <mat-label>Selecione um animal</mat-label>
          <mat-select [(ngModel)]="ordenha.idAnimal" name="idAnimal" [formControl]="idAnimal" required>
            <mat-option *ngFor="let ani of animais" [value]="ani.idAnimal">{{ ani.apelido }}</mat-option>
          </mat-select>
        </mat-form-field>
        
        <mat-form-field appearance="outline">
          <mat-label>Selecione um tanque</mat-label>
          <mat-select [(ngModel)]="ordenha.idTanque" name="idTanque" [formControl]="idTanque" required>
            <mat-option *ngFor="let tan of tanques" [value]="tan.idTanque">{{ tan.modelo }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div>
        <button (click)="update()" [disabled]="!validaCampos()" class="mat-elevation-z4" mat-flat-button
          color="primary">Atualizar</button>
        <button routerLink="../" class="mat-elevation-z4" mat-stroked-button color="warn">Cancelar</button>
      </div>
    </form>
  </div>
  