<mat-drawer-container class="container">
  <mat-drawer #drawer class="sidenav" mode="side" opened="true" fixedTopGap="64">
    <mat-toolbar color="primary">Menu</mat-toolbar>
    <mat-nav-list>
      <mat-list-item routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        <mat-icon>home</mat-icon>
        <span>Home</span>
      </mat-list-item>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-icon>add_circle_outline</mat-icon>
          <span>Cadastro</span>
        </mat-expansion-panel-header>
        <mat-nav-list>
          <mat-list-item routerLink="/animal" routerLinkActive="active" class="submenu-item">
            <span>Animal</span>
          </mat-list-item>
          <mat-list-item routerLink="/lote" routerLinkActive="active" class="submenu-item">
            <span>Lote</span>
          </mat-list-item>
          <mat-list-item routerLink="/raca" routerLinkActive="active" class="submenu-item">
            <span>Raça</span>
          </mat-list-item>
          <mat-list-item routerLink="/tanque" routerLinkActive="active" class="submenu-item">
            <span>Tanque</span>
          </mat-list-item>
          <mat-list-item routerLink="/ordenha" routerLinkActive="active" class="submenu-item">
            <span>Ordenha</span>
          </mat-list-item>
          <mat-list-item routerLink="/laticinio" routerLinkActive="active" class="submenu-item">
            <span>Laticínio</span>
          </mat-list-item>          
        </mat-nav-list>
        <mat-list-item routerLink="/funcionario" routerLinkActive="active" class="submenu-item">
          <span>Funcionario</span>
        </mat-list-item> 
        <mat-list-item routerLink="/coleta" routerLinkActive="active" class="submenu-item">
          <span>Coleta de leite</span>
        </mat-list-item> 
      </mat-expansion-panel>
      <mat-list-item (click)="logout()">
        <mat-icon>exit_to_app</mat-icon>
        <span>Logout</span>
      </mat-list-item>
    </mat-nav-list>
  </mat-drawer>
  
  <mat-toolbar color="primary" class="toolbar">
    <button mat-icon-button (click)="drawer.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <span>Agropecuária Leiteira</span>
  </mat-toolbar>
  
  <main class="content">
    <router-outlet></router-outlet>
  </main>
</mat-drawer-container>
