.container {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  top: 0;
  left: 0;
  bottom: 0;
}


.mat-drawer-container {
  flex: 1;
}

.footer {
  background-color: #0e310b;
  color: #fff;
  padding: 16px;
  text-align: center;
  font-size: 14px;
}

.sidenav {
  flex: 0 0 auto;
  width: 240px;
  background-color: #0e310b;
  color: #fff;
  position: fixed;
  overflow-y: auto;
}

.sidenav img {
  max-width: 100%;
  height: auto;
}

.sidenav a {
  color: #fff;
}

.mat-list-base {
  padding-top: 1px;
  display: block;
  -webkit-tap-highlight-color: transparent;
}

.mat-list-base .mat-list-item {
  color: rgba(255, 255, 255, 0.87);
}

.sidenav a {
  color: #fff;
}

.submenu-item {
  color: #006400;
}

.mat-toolbar.mat-primary {
  background: #31662c;
  color: #fff;
}

.mat-expansion-panel {
  background: #4e9f3496;
  color: rgba(255, 240, 240, 0.87);
  margin-bottom: 3px;
}

.sidenav .mat-list-item:hover {
  background-color: #74b479;
  width: auto;
}

.sidenav .mat-list-item.active {
  background-color: #164910de;
}

.content {
  padding: 16px;
  margin-top: 0;
}

.mat-expansion-panel-header {
  display: flex;
  align-items: center;
}

.mat-expansion-panel-header mat-icon {
  margin-right: 8px;
  color: #60bf5e;
}

.mat-list-item span {
  margin-left: 8px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: transparent;
  color: #fff;
  height: 64px;
  padding: 0 16px;
}

.logo {
  display: flex;
  align-items: center;
  padding-right: 16px;
  max-width: 240px;
  overflow: hidden;
  transition: all 0.3s ease;
}

.logo img {
  width: 100%;
  height: auto;
  transition: transform 0.3s ease;
}

.logo:hover img {
  transform: scale(1.1);
}



.scrollable-sidenav {
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: #31662c rgba(0, 0, 0, 0.3);
}

.scrollable-sidenav::-webkit-scrollbar {
  width: 8px;
}

.scrollable-sidenav::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.3);
}

.scrollable-sidenav::-webkit-scrollbar-thumb {
  background-color: #31662c;
  border-radius: 4px;
}

.nome-usuario {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 16px;
  background-color: #006400;
  color: #fff;
  font-size: 16px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}


.hamburger-icon {
  cursor: pointer;
  position: absolute;
  padding-left: 18px;
  padding-top: 10px;
  z-index: 1;
}

.hidden {
  display: none;
}

.nome-usuario-label {
  margin-right: 16px;
  color: #ffffff;
}

.hamburger-icon mat-icon {
  font-size: 24px;
  color: #ffffff;
}


@media (max-width: 1199px) {
  .sidenav {
    width: 200px;
  }
}

@media (max-width: 991px) {
  .sidenav {
    width: 160px;
  }

  .submenu-item {
    display: none;
  }

  .header {
    justify-content: space-between;
    padding-right: 8px;
  }

  .hamburger-icon {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 18px;
  }

  .hamburger-icon mat-icon {
    font-size: 32px;
  }

  .mat-expansion-panel-header mat-icon {
    font-size: 20px;
  }
}

@media (max-width: 767px) {
  .sidenav {
    flex: 0 0 70px;
  }

  .header {
    padding: 0 8px;
  }

  .hamburger-icon {
    padding-left: 18px;
  }

  .hamburger-icon mat-icon {
    font-size: 24px;
  }
  .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
  }
}
