<mat-drawer-container class="container">
  <mat-drawer #drawer class="sidenav scrollable-sidenav" mode="side" opened="true" fixedTopGap="64" perfectScrollbar>
    <mat-nav-list>
      <div class="header">
        <div class="logo">
          <img src="assets/img/logo-branco.png" alt="Logo">
        </div>
      </div>
      <mat-list-item routerLink="/home" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        <mat-icon>home</mat-icon>
        <span>Home</span>
      </mat-list-item>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-icon>add_circle_outline</mat-icon>
          <span>Cadastro</span>
        </mat-expansion-panel-header>
        <mat-nav-list>
          <mat-list-item routerLink="/animal" routerLinkActive="active" class="submenu-item">
            <span>Animal</span>
          </mat-list-item>
          <mat-list-item routerLink="/lote" routerLinkActive="active" class="submenu-item">
            <span>Lote</span>
          </mat-list-item>
          <mat-list-item routerLink="/raca" routerLinkActive="active" class="submenu-item">
            <span>Raça</span>
          </mat-list-item>
          <mat-list-item routerLink="/tanque" routerLinkActive="active" class="submenu-item">
            <span>Tanque</span>
          </mat-list-item>
          <mat-list-item routerLink="/ordenha" routerLinkActive="active" class="submenu-item">
            <span>Ordenha</span>
          </mat-list-item>
          <mat-list-item routerLink="/laticinio" routerLinkActive="active" class="submenu-item">
            <span>Laticínio</span>
          </mat-list-item> 
          <mat-list-item routerLink="/funcionario" routerLinkActive="active" class="submenu-item">
            <span>Funcionário</span>
          </mat-list-item> 
          <mat-list-item routerLink="/coleta" routerLinkActive="active" class="submenu-item">
            <span>Coleta de leite</span>
          </mat-list-item>          
        </mat-nav-list>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-icon>description</mat-icon>
          <span>Relatórios</span>
        </mat-expansion-panel-header>
        <mat-nav-list>
          <mat-list-item routerLink="/relatorioDiario" routerLinkActive="active" class="submenu-item">
            <span>Produção diária</span>
          </mat-list-item>
        </mat-nav-list>
      </mat-expansion-panel>
      <mat-list-item (click)="logout()">
        <mat-icon>exit_to_app</mat-icon>
        <span>Logout</span>
      </mat-list-item>    
    </mat-nav-list>
  </mat-drawer>

  <mat-drawer-content>
    <div class="hamburger-icon hidden" (click)="drawer.toggle()">
      <mat-icon>menu</mat-icon>
    </div>    
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>