.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f4f4f4;
}

.card {
  width: 80%;
  height: auto;
  padding: 20px;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
}

.fullWidth {
  width: 100%;
}

.status-prioridade {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.field-container {
  flex-basis: 45%;
}

.field-container-left {
  margin-right: 2%;
}

.field-container-right {
  margin-left: 2%;
}

.field {
  width: 100%;
}

.field-left {
  width: calc(100% - 5px);
}

.field-right {
  width: calc(100% - 5px);
}

.button-group {
  display: flex;
  justify-content: flex-end;
  margin-top: 1rem;
}

button {
  margin-top: 0.5rem;
}

button:first-child {
  margin-right: 1rem;
}

.form {
  width: auto;
}

mat-icon {
  opacity: 0.8;
}

@media (max-width: 1600px) {
  .card {
    width: 70%;
  }
}

@media (max-width: 1200px) {
  .card {
    width: 80%;
  }
}

@media (max-width: 992px) {
  .card {
    width: 90%;
  }
}

@media (max-width: 767px) {
  .card {
    width: 95%;
  }

  .status-prioridade {
    flex-wrap: wrap;
    margin-bottom: 0;
  }

  .field-container {
    flex-basis: 100%;
    margin-bottom: 1rem;
  }

  .field-container-left,
  .field-container-right {
    margin-left: 0;
    margin-right: 0;
  }
}
