.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f4f4f4;
}

.card {
  width: auto;
  height: auto;
  padding: 20px;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
}

.fullWidth {
  width: 100%;
}

.form {
  width: 100%;
}

button {
  margin-top: 0.5rem;
}

button:first-child {
  margin-right: 1rem;
}

.error-snackbar {
  background-color: red;
  color: white;
  font-weight: bold;
}

.error-snackbar .mat-simple-snackbar-action {
  color: white;
}

mat-icon {
  opacity: 0.8;
}
