<div class="container">

   <h1>Listando Animais</h1>

   <button routerLink="create" class="cadas mat-elevation-z4" mat-flat-button color="success">Adicionar animal</button>
   <mat-form-field appearance="standard">
      <mat-label>Filter</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium" #input>
    </mat-form-field>

   <div class="mat-elevation-z8">

      <table mat-table [dataSource]="dataSource">

         <ng-container matColumnDef="idAnimal">
            <th mat-header-cell *matHeaderCellDef> ID </th>
            <td mat-cell *matCellDef="let element"> {{element.idAnimal}} </td>
         </ng-container>

         <ng-container matColumnDef="codigo">
            <th mat-header-cell *matHeaderCellDef> Codigo </th>
            <td mat-cell *matCellDef="let element"> {{element.codigo}} </td>
         </ng-container>

         <ng-container matColumnDef="apelido">
            <th mat-header-cell *matHeaderCellDef> Apelido </th>
            <td mat-cell *matCellDef="let element"> {{element.apelido}} </td>
         </ng-container>
         <ng-container matColumnDef="dataNascimento">
            <th mat-header-cell *matHeaderCellDef> Data de Nascimento </th>
            <td mat-cell *matCellDef="let element"> {{element.dataNascimento}} </td>
         </ng-container>

         <ng-container matColumnDef="dataCompra">
            <th mat-header-cell *matHeaderCellDef> Data de Compra </th>
            <td mat-cell *matCellDef="let element"> {{element.dataCompra}} </td>
         </ng-container>

         <ng-container matColumnDef="cor">
            <th mat-header-cell *matHeaderCellDef> Cor </th>
            <td mat-cell *matCellDef="let element"> {{element.cor}} </td>
         </ng-container>

         <ng-container matColumnDef="nomeRaca">
            <th mat-header-cell *matHeaderCellDef> Raça </th>
            <td mat-cell *matCellDef="let element"> {{element.nomeRaca}} </td>
         </ng-container>

         <ng-container matColumnDef="nomeLote">
            <th mat-header-cell *matHeaderCellDef> Lote </th>
            <td mat-cell *matCellDef="let element"> {{element.nomeLote}} </td>
         </ng-container>

         <ng-container matColumnDef="lactacao">
            <th mat-header-cell *matHeaderCellDef> Lactante </th>
            <td mat-cell *matCellDef="let element"> {{element.lactacao}} </td>
         </ng-container>
         

         <ng-container matColumnDef="acoes">
            <th mat-header-cell *matHeaderCellDef> Ações </th>
            <td mat-cell *matCellDef="let element">
               <a routerLink="update/{{ element.idAnimal }}">
                  <i class="material-icons edit">edit</i>
               </a>
               <a routerLink="delete/{{ element.idAnimal }}">
                  <i class="material-icons delete">delete</i>
               </a>
            </td>
         </ng-container>

         <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
         <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>

      <mat-paginator [pageSizeOptions]="[5, 2, 10, 20, 50, 100]" showFirstLastButtons></mat-paginator>
   </div>

</div>